﻿/* Copyright © 2012 Cetin Sert */

.display-flex {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -moz-box;
	display: flex;
}
.flex-vertical {
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	flex-direction: column;
}
.flex(@fv: 1) {
	-ms-flex: @fv;
	-webkit-box-flex: @fv;
	-moz-box-flex: @fv;
	flex: @fv;
}
.transition(@a, @t) {
	-webkit-transition: @a @t;
	-moz-transition: @a @t;
	-o-transition: @a @t;
	transition: @a @t;
}