﻿@font-face { font-family: corsis-ui;       src: url("http://i.s-microsoft.com/fonts/Segoe-UI/West-European/Normal/latest.woff"); }
@font-face { font-family: corsis-ui-light; src: url("http://i.s-microsoft.com/fonts/Segoe-UI/West-European/Light/latest.woff");  }