﻿/* Copyright © 2012 Cetin Sert */

@import "corsis";


/* window */
@font: "Open Sans", "Segoe UI Light", "Segoe UI";

html, body { height: 100%; display: block; font-family: @font; }
* { overflow-x:hidden; .transition(all, 900ms); }


/* sign-in/-out box */
#sign {
    position: fixed;
    right: 1em;
    top: 1em;
    width: auto;
    text-align: right;
    opacity: 0.5;
    &:hover { opacity: 1; }
}


/* list of peers */
.gravatar { cursor: pointer; }

#list {
  position: absolute; top: 3em; right: 1em;    
	width: 52px;
  background-color: #ddd;
  opacity: 0.5;
	&:hover {
		opacity: 1; width: 82%;
		.user { opacity: 1; }
	}
	li { display: table-row; width: auto; }

	*  { margin: 10px; vertical-align: middle; }
	.gravatar { display: table-cell; height: 32px; width: 32px; }
	.user { display: table-cell; font-size: 1.2em; color: black; padding-right: 10px; opacity: 0; }
}


/* messages */
#error {
    display: none;
    padding: 20px;
    z-index: 999;
    cursor: pointer;
    width: auto;
    height: 100px;
    margin: auto;
    position: absolute;
    top:  0; bottom: 0;
    left: 0; right:  0;
}
strong { font-weight: bold; }


/* file list */
#fileZone { border: 2px dashed gray; padding: 10px; width: 70%; height: auto; }
li > button { background-color: lightgrey; border: none; cursor: pointer; }


/* concordance view */
#concordance { font-family: monospace; width: 100%; tr { width: 100%; margin: 4px; padding: 4px; * { overflow: hidden; } } }
.source { border-right: 1px dotted red; padding: 5px 5px; width: 1000px; }
.left   { text-align: right;  width: 6000px; }
.center { text-align: center; font-weight: bold; color: red; }
.right  { text-align: left;   width: 6000px; }